[package]
name = "synapse-admin-api"
version = "0.0.0"
#authors = []
categories = ["api-bindings", "web-programming"]
description = "Types for the endpoints in the synapse admin API."
homepage = "https://www.ruma.io/"
keywords = ["matrix", "chat", "messaging", "ruma"]
license = "MIT"
repository = "https://github.com/ruma/synapse-admin-api"
edition = "2018"

[dependencies]
ruma = { version = "0.1.1", features = ["ruma-api", "events", "client-api"] }
js_int = { version = "0.2.0", features = ["serde"] }
serde = { version = "1.0.118", features = ["derive"] }

[dev-dependencies]
serde_json = "1.0.61"

[features]
#unstable-exhaustive-types = []
